# Ignore node_modules
node_modules/

# Ignore AWS credentials file
.aws/

# Ignore .env files (commonly used to store sensitive environment variables)
.env

# Ignore log files
*.log

# Ignore temporary files created by IDEs
.vscode/
.idea/

# Ignore system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db
